.header{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/Users/arielzhang/Desktop/wbdv/cpnt-260/final/push/cpnt260-final/images/background.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header h1{
  font-size: 6rem;
  color: rgb(250, 246, 246);
  font-family: 'Lobster', cursive;
}

.header p{
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  color: rgb(255, 123, 0);
}

.content{
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  /* sticky footer */
  min-height: 100%;
  margin-bottom: -50px;
}

.content img{
  margin-left: 30%;
  width: 35vw;
  height: 20rem;
  border: solid rgb(101, 235, 245) 0.1rem;
  border-radius: 5%;
}

@media (max-width: 600px) {
  .content img{
    width: 18rem;
    margin-left: -1rem;
  }
}